*{margin: 0;
padding: 0;
box-sizing: border-box;}

html{font-size: 62.5%;}


.bg-img{background-image: url(./Assets/developer.png);
    color: #ffffff;
background-repeat: no-repeat;
background-size: cover;
line-height: 1.4;
min-height: 100vh;}


.heading{font-size: 7.2rem;
font-weight: 400;
font-family: Roboto;}

.margin{margin: 0 auto;}

.name{font-size: 2.4rem;
font-family: Roboto;}


.box{padding: 20px;}


.box-head{font-size: 7.2rem;
text-align: center;
font-weight: 300;
font-family: Roboto;}

.box-span{font-size: 9.6rem;
font-weight: 400;}

.box-2{border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    transition: 0.3s ease-in-out;}

.box-2:hover {transform: scale(1.1);}    

.contact{background-color: #515603;
color: #ffffff;
width: 50%;}


li{list-style: none;}


.end-font{font-size: 7.2rem;
font-family: Roboto;}

.link{font-size: 2rem;}


.about{background-color: #722300;
color: #ffffff;
width: 50%;}